{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  <section class="bp-welcome">
    <div class="bp-welcome__verson-wrapper">
      <span class="bp-welcome__version">alpha</span>
    </div>
    <h1 class="bp-welcome__headline">
      Welcome to Apostrophe 3
    </h1>
    {% if not data.user %}
      {# Message only for logged out users. #}
      <h3 class="bp-welcome__help">First time spinning up the ApostropheCMS 3 demo?</h3>
      <p>
        Run this in your CLI to create your first user:
      </p>
      <pre class="bp-welcome__code">
        <span class="bp-welcome__code__context">Command Line</span>
        <code>
          node app @apostrophecms/user:add myUsername admin
        </code>
      </pre>
      <p class="bp-welcome__cta">
        <a class="bp-button bp-button--cta" href="/login">Then log in here</a>
      </p>
    {% endif %}
    <p>
      For a guide on how to configure and customize this project, <a href="https://a3.docs.apostrophecms.com/">please check out the Apostrophe 3 documentation</a>.
    </p>
    <div class="bp-welcome__area">
      {% if data.user %}
        {# Message only for logged in users. #}
        {% if not data.query['apos-edit'] %}
          <p>
            Enter <span class="bp-mode">Edit</span> mode from the admin bar <span style="display:inline-block; transform: rotate(45deg)">👆</span> to begin.
          </p>
        {% else %}
          <p>
            Add and edit content below in the content area. 👇
          </p>
        {% endif %}
      {% endif %}
      {% area data.page, 'main' %}
    </div>
  </section>
{% endblock %}
